version: '3'
services:
    fastdfstracker:
        image: evan1120/fastdfs_tracker
        hostname: fastdfs-tracker
        volumes:
        - ./config/:/etc/fdfs
        - /var/data/fastdfs:/data/fastdfs
        ports:
        - 22122:22122
        deploy:
          restart_policy:
           condition: any
           delay: 5s
           max_attempts: 6
           window: 30s
        network_mode: host
    fastdfsstorage:
        image: evan1120/fastdfs_storage
        hostname: fastdfs-storage
        volumes:
        - ./config/:/etc/fdfs
        - /var/data/fastdfs:/data/fastdfs
        ports:
          - 23000:23000
          - 8889:8899
        deploy:
          restart_policy:
           condition: any
           delay: 5s
           max_attempts: 6
           window: 30s          
        network_mode: host
